body{
   background-color:pink;
}

img{
    height:170px;
    width:170px;
}

.result{
    background-color:snow;
}

#conclusion{
    background-color: powderblue;
    font-size: 21px;
    color:red;
}